<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http:://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: head"></head>

<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
        <div class="progresso d-flex gap-5 justify-content-center mb-4">
            <span class="progresso-1 text-bg-warning">1</span>
            <span class="progresso-2 text-bg-warning">2</span>
            <span class="progresso-3 text-bg-warning">3</span>
        </div>
        <h4 class="mb-4">Por fim, escolha os dados da reserva:</h4>

        <form class="needs-validation position-relative" th:action="@{/reservas/(form)}" method="POST" th:object="${reserva}" novalidate>
            <input type="hidden" th:field="*{id}">

            <div class="form-group form-group_duplo row mb-3">
                <div class="col-6">
                    <label class="fw-semibold" for="txtdataentrada">Data de entrada</label>
                    <input type="date" class="form-control" id="txtdataentrada" th:field="*{dataEntrada}" required>    
                    <div class="invalid-feedback">
                        Escolha uma data
                    </div>
                </div>
                <div class="col-6">
                    <label class="fw-semibold" for="txtdatasaida">Data de saída</label>
                    <input type="date" class="form-control" id="txtdatasaida" th:field="*{dataSaida}" required>
                    <div class="invalid-feedback">
                        Escolha uma data
                    </div>
                </div>
            </div>

            <div class="form-group mb-3 invisible position-absolute top-0 start-0">
                <!-- <label class="fw-semibold" for="txtcliente">Cliente</label> -->
                <select th:field="*{listaClientes}" class="form-select" required>
                    <option th:each="umCliente : ${listaClientes}" th:value="${umCliente.id}"
                        th:text="${umCliente.nome}">
                    </option>
                </select>
            </div>

            <div class="form-group mb-3 invisible position-absolute top-0 start-0">
                <!-- <label class="fw-semibold" for="txtcachorro">Cachorros</label> -->
                <select th:field="*{Cachorro}" class="form-select" required>
                    <option th:each="umCachorro : ${listaCachorros}" th:value="${umCachorro.id}"
                        th:text="${umCachorro.nomeCachorro}">
                    </option>
                </select>
            </div>

            <div class="form-group mb-4">
                <label class="fw-semibold" for="txtatendente">Por quem você quer ser atendido?</label>
                <select th:field="*{listaAtendentes}" class="form-select" required>
                    <option th:each="umAtendente : ${listaAtendentes}" th:value="${umAtendente.id}"
                        th:text="${umAtendente.nome}">
                    </option>
                </select>
                <div class="invalid-feedback">
                    Seleciona uma opção
                </div>
            </div>


            <!--<div class="card">
                <div class="card-body">
                    <h5 class="card-body">
                        Serviços vinculados
                    </h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Preço</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="umServico, stat : *{listaServicos}">
                                <td th:text="${umServico.nome}"></td>
                                <input type="hidden" th:field="*{listaServicos[__${stat.index}__].nome}">
                                <td th:text="${umServico.valorServico}"></td>
                                <input type="hidden" th:field="*{listaServicos[__${stat.index}__].valorServico}">
                                <input type="hidden" th:field="*{listaServicos[__${stat.index}__].id}">


                                <td>
                                    <button class="btn" type="submit" name="removeservico"
                                        th:value="__${stat.index}__">Remover</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>-->
            
            <!--<div class="card">
                <div class="card-body">-->
                    <h5 class="fs-5 fw-semibold" style="font-family: Poppins;">Serviços adicionais disponíveis:</h5>
            <table class="table">
                <tbody>
                    <tr th:each="umServico : ${listaServicos}">
                        <td class="d-flex align-items-center">
                            <input name="servico${umServico.id}" class="me-1 servicos${umServico.id}" type="checkbox" th:field="*{listaServicos}" th:value="${umServico.id}">
                            <label th:text="${umServico.nome}"></label>
                        </td>

                        <td>
                            <label  th:id="valorServico_ + ${umServico.id}" class="servicos-valor" th:text="${umServico.valorServico}"></label>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!--<div class="form-group">
                        <label for="cbservico">Serviço</label>
                        <select class="form-select" id="cbservico" th:field="*{novoServico}">
                            <option th:each="umServico : ${listaServicos}" th:value="${umServico.id}"
                                th:text="${umServico.nome}">
                            </option>
                        </select>
                    </div>
                    <button type="submit" name="vincservico" class="btn">Vincular Serviço</button>-->
            <!--</div>
            </div>-->
            <div class="form-group d-flex">
                <h5 class="fs-5 fw-semibold" style="font-family: Poppins;">Total da reserva: </h5>
                <h5 id="total-reserva"></h5>
            </div>

            <div class="form-group d-flex">
                <h5 class="fs-5 fw-semibold" style="font-family: Poppins;">Total da reserva:</h5>
                <!-- valor aqui -->
            </div>

            <div class="d-flex justify-content-end mt-2">
                <button id="btn-confirmar" type="submit" name="confirmar" class="btn">Confirmar</button>
            </div>

            <div class="form-group mb-4 invisible">
                <select th:field="*{listaCachorros}" class="form-select" id="listaCachorrosSelect">
                    <option th:each="umCachorro : ${listaCachorros}" th:value="${umCachorro.id}"
                        th:text="${umCachorro.peso}" id="pesoCachorro">
                    </option>
                </select>
            </div>

        </form>

    </main>
    <footer th:include="layout :: footer"></footer>
    <div th:include="layout :: imports"></div>
    
    <script th:src="@{/js/validacaoForms.js}"></script>
    <script th:src="@{/js/valorTotalReserva.js}"></script>
    
</body>

</html>