<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http:://www.ultraq.net.nz/thymeleaf/layout">

</html>

<head th:include="layout :: head"></head>

<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
        <a href="/reservas/novo" class="btn">Novo</a>
        <table class="table" id="tabreservas">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Atendente</th>
                    <th>Data entrada</th>
                    <th>Data saída</th>
                    <th>Cliente</th>
                    <th>Cachorro</th>
                    <th>Serviços</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>


            <tbody th:each="umaReserva : ${listaReservas}">
                <td th:text="${umaReserva.id}"></td>

                <td>
                    <ul th:each="umAtendente : ${umaReserva.listaAtendentes}">
                        <li th:text="${umAtendente.nome}"></li>
                    </ul>
                </td>

                <td th:text="${umaReserva.dataEntrada}"></td>

                <td th:text="${umaReserva.dataSaida}"></td>

                <td>
                    <ul th:each="umCliente : ${umaReserva.listaClientes}">
                        <li th:text="${umCliente.nome}"></li>
                    </ul>
                </td>

                <td>
                    <ul th:each="umCachorro : ${umaReserva.Cachorro}">
                        <li th:text="${umCachorro.nomeCachorro}"></li>
                    </ul>
                </td>

                <td>
                    <ul th:each="umServico : ${umaReserva.listaServicos}">
                        <li th:text="${umServico?.nome}"></li>
                    </ul>
                </td>
                

                <td th:text="${umaReserva.getTotalReserva}"></td>
                <td>
                    <a th:href="@{'/reservas/alterar/' + ${umaReserva.id}}" class="btn">Alterar</a>
                    <button class="btn js-delete" th:data-id="${umaReserva.id}">Excluir</button>
                </td>
            </tbody>

        </table>
    </main>

    <div class="modal" tabindex="-1" id="modalreserva">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Excluir reserva</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Confirma a exclusão da reserva?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-bs-dismiss="modal" id="btnReservaNao">Não</button>
              <button type="button" class="btn" id="btnReservaSim">Sim</button>
            </div>
          </div>
        </div>
      </div>
    <footer th:include="layout :: footer"></footer>
    <div th:include="layout :: imports"></div>
    <script th:src="@{/js/scriptReservas.js}"></script>
</body>

</html>