<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http:://www.ultraq.net.nz/thymeleaf/layout">

</html>

<head th:include="layout :: head"></head>

<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
        <a href="/reservas/novo" class="btn btn-primary">Novo</a>
        <table class="table" id="tabreservas">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Atendente</th>
                    <th>Data entrada</th>
                    <th>Cliente</th>
                    <th>Serviços</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>


            <tbody th:each="umaReserva : ${listaReservas}">
                    <td th:text="${umaReserva.id}"></td>
                    <td th:text="${umaReserva.listaAtendentes?.nome}"></td>
                    <td th:text="${umaReserva.dataEntrada}"></td>
                    <td th:text="${umaReserva.cliente?.nome}">
                        <ul th:each="umCachorro : ${umaReserva.listaCachorros}">
                            <li th:text="${umCachorro.nomeCachorro}"></li>
                        </ul>
                    </td>
                    <td th:text="${umaReserva.listaServicos?.nome}"></td>
                    <td th:text="${#aggregates.sum(umaReserva.![getTotalReserva])}"></td>
            </tbody>

        </table>
    </main>
    <footer th:include="layout :: footer"></footer>
</body>

</html>