<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http:://www.ultraq.net.nz/thymeleaf/layout">

</html>

<head th:include="layout :: head"></head>

<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
        <a href="/reservas/novo" class="btn btn-primary">Novo</a>
        <table class="table" id="tabreservas">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Atendente</th>
                    <th>Data entrada</th>
                    <th>Cliente</th>
                    <th>Serviços</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>


            <tbody th:each="umaReserva : ${listaReservas}">
                <td th:text="${umaReserva.id}"></td>
    
                <td>
                    <ul th:each="umAtendente : ${umaReserva.listaAtendentes}">
                        <li th:text="${umAtendente.nome}"></li>
                    </ul>
                </td>
                <td th:text="${umaReserva.dataEntrada}"></td>
                <td>
                    <ul th:each="umCliente : ${umaReserva.listaClientes}">
                        <li th:text="${umCliente.nome}"></li>
                    </ul>
                </td>
                <td>
                    <ul th:each="umServico : ${umaReserva.listaServicos}">
                        <li th:text="${umServico?.nome}"></li>
                    </ul>
                </td>
                
                <td>
                    <ul th:each="umServico : ${umaReserva.listaServicos}">
                        <li th:text="${umServico?.nome}"></li>
                    </ul>
                </td>
                <!--<td th:text="${#aggregates.sum(umaReserva.listaServicos![getTotalReserva])}"></td>-->
            </tbody>

        </table>
    </main>
    <footer th:include="layout :: footer"></footer>
</body>

</html>