<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http:://www.ultraq.net.nz/thymeleaf/layout">

</html>

<head th:include="layout :: head"></head>

<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
        <form th:action="@{/cachorros/(form)}" method="POST" th:object="${cachorro}">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="txtnome">Nome</label>
                <input type="text" class="form-control" id="txtnome" th:field="*{nomeCachorro}">
            </div>

            <div class="form-group">
                <label for="txtpeso">Peso</label>
                <input type="text" class="form-control" id="txtpeso" th:field="*{peso}">
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
            <button type="submit" name="continuar" href="http://localhost:8080/clientes/novo" class="btn btn-success">continuar</button>

        </form>
    </main>
    <footer th:include="layout :: footer"></footer>
</body>
    
</html>