<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http:://www.ultraq.net.nz/thymeleaf/layout">

</html>

<head th:include="layout :: head"></head>

<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
        <a href="/cachorros/novo" class="btn">Novo</a>
        <table class="table" id="tabcachorros">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Peso</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="umCachorro : ${listaCachorros}">
                    <td th:text="${umCachorro.id}"></td>
                    <td th:text="${umCachorro.nomeCachorro}"></td>
                    <td th:text="${umCachorro.peso}"></td>
                    <td>
                        <a th:href="@{'/cachorros/alterar/' + ${umCachorro.id}}" class="btn">Alterar</a>
                    <button class="btn js-delete" th:data-id="${umCachorro.id}">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <div class="modal" tabindex="-1" id="modalcachorro">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Excluir funcionário</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Confirma a exclusão do funcionário?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-bs-dismiss="modal" id="btnCachorroNao">Não</button>
              <button type="button" class="btn" id="btnCachorroSim">Sim</button>
            </div>
          </div>
        </div>
      </div>

    <footer th:include="layout :: footer"></footer>
    <div th:include="layout :: imports"></div>
    <div th:include="layout :: imports"></div>
    <script th:src="@{/js/scriptCachorros.js}"></script>
</body>

</html>