<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http:://www.ultraq.net.nz/thymeleaf/layout">

</html>

<head th:include="layout :: head"></head>

<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
    <a href="/funcionarios/novo" class="btn">Novo</a>
    <table class="table" id="tabfuncionarios">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Função</th>
                <th>Avaliação</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="umFuncionario : ${listaFuncionarios}">
                <td th:text="${umFuncionario.id}"></td>
                <td th:text="${umFuncionario.nome}"></td>
                <td th:text="${umFuncionario.funcao}"></td>
                <td th:text="${umFuncionario.avaliacao}"></td>
                <td>
                    <a th:href="@{'/funcionarios/alterar/' + ${umFuncionario.id}}" class="btn">Alterar</a>
                <button class="btn js-delete" th:data-id="${umFuncionario.id}">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
    </main>

    <div class="modal" tabindex="-1" id="modalfuncionario">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Excluir funcionário</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Confirma a exclusão do funcionário?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-bs-dismiss="modal" id="btnFuncionarioNao">Não</button>
              <button type="button" class="btn" id="btnFuncionarioSim">Sim</button>
            </div>
          </div>
        </div>
      </div>
    <footer th:include="layout :: footer"></footer>
    <div th:include="layout :: imports"></div>
    <script th:src="@{/js/scriptFuncionarios.js}"></script>
</body>

</html>