<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http:://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: head"></head>

<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
        <form th:action="@{/clientes/(form)}" method="POST" th:object="${cliente}">

            <input type="hidden" th:field="*{id}">

            <div class="form-group">
                <label for="txtnome">Nome</label>
                <input type="text" class="form-control" id="txtnome" th:field="*{nome}">
            </div>

            <div class="form-group">
                <label for="txtcpf">CPF</label>
                <input type="text" class="form-control" id="txtcpf" th:field="*{CPF}">
            </div>

            <div class="form-group">
                <label for="txtfone">Telefone</label>
                <input type="text" class="form-control" id="txtfone" th:field="${cliente.telefone}">
                <p th:if="${#fields.hasErrors('telefone')}" th:errors="${cliente.sexo}" class="alert alert-danger"></p>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-body">
                        Cachorros vinculados
                    </h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="umCachorro, stat : *{listaCachorros}">
                                <td th:text="${umCachorro.nomeCachorro}"></td>
                                <input type="hidden" th:field="*{listaCachorros[__${stat.index}__].nomeCachorro}">
                                <input type="hidden" th:field="*{listaCachorros[__${stat.index}__].id}">
                                <input type="hidden" th:field="*{listaCachorros[__${stat.index}__].peso}">


                                <td>
                                    <button class="btn btn-danger" type="submit" name="removecachorro"
                                        th:value="__${stat.index}__">Remover</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Novo cachorro
                    </h5>

                    <div class="form-group">
                        <label for="cbcachorro">Cachorro</label>
                        <select class="form-select" id="cbcachorro" th:field="*{novoCachorro}">   
                            <option th:each="umCachorro : ${listaDisponiveis}" th:value="${umCachorro.id}"
                                th:text="${umCachorro.nomeCachorro}">
                            </option>
                        </select>
                    </div>

                    <button type="submit" name="vincdog" class="btn btn-primary">Vincular cachorro</button>
                </div>
            </div>

            <!--<button type="submit" name=save class="btn btn-primary">Enviar</button>-->
            <button type="submit" href="http://localhost:8080/reservas/novo" name=agendarReserva class="btn btn-success">Agendar reserva</button>

        </form>
    </main>
    <footer th:include="layout :: footer"></footer>
</body>

</html>