<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http:://www.ultraq.net.nz/thymeleaf/layout"
>
  <head th:include="layout :: head"></head>

  <body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
        <div class="progresso d-flex gap-5 justify-content-center mb-4">
            <span class="progresso-1 text-bg-warning">1</span>
            <span class="progresso-2 text-bg-warning">2</span>
            <span class="progresso-3 text-bg-secondary">3</span>
        </div>
        <h4 class="mb-4">Agora suas informações pessoais:</h4>

        <form class="w-50 mx-auto" th:action="@{/clientes/(form)}" method="POST" th:object="${cliente}">

            <input type="hidden" th:field="*{id}">

            <div class="form-group mb-3">
                <label class="fw-semibold" for="txtnome">Nome</label>
                <input type="text" class="form-control" id="txtnome" placeholder="Digite seu nome" th:field="*{nome}">
            </div>

            <div class="form-group row mb-3">
                <div class="col-6">
                    <label class="fw-semibold" for="txtcpf">CPF</label>
                <input type="text" class="form-control" id="txtcpf" placeholder="000.000.000-00" th:field="*{CPF}">
                </div>
                <div class="col-6">
                    <label class="fw-semibold" for="txtfone">Telefone</label>
                <input type="text" class="form-control" id="txtfone" placeholder="(00) 00000-0000" th:field="${cliente.telefone}">
                <p th:if="${#fields.hasErrors('telefone')}" th:errors="${cliente.sexo}" class="alert alert-danger"></p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-body">
                        Cachorros vinculados
                    </h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="umCachorro, stat : *{listaCachorros}">
                                <td th:text="${umCachorro.nomeCachorro}"></td>
                                <input type="hidden" th:field="*{listaCachorros[__${stat.index}__].nomeCachorro}">
                                <input type="hidden" th:field="*{listaCachorros[__${stat.index}__].id}">
                                <input type="hidden" th:field="*{listaCachorros[__${stat.index}__].peso}">


                                <td>
                                    <button class="btn" type="submit" name="removecachorro"
                                        th:value="__${stat.index}__">Remover</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Novo cachorro
                    </h5>

                    <div class="form-group">
                        <label for="cbcachorro">Cachorro</label>
                        <select class="form-select" id="cbcachorro" th:field="*{novoCachorro}">
                            <option th:each="umCachorro : ${listaDisponiveis}" th:value="${umCachorro.id}"
                                th:text="${umCachorro.nomeCachorro}">
                            </option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-end mt-2">
                        <button type="submit" name="vincdog" class="btn mt-2">vincular cachorro</button>
                    </div>
                </div>
            </div>

            <!--<button type="submit" name=save class="btn">Enviar</button>-->
            <div class="d-flex justify-content-end mt-2">
                <button type="submit" href="http://localhost:8080/reservas/novo" name=agendarReserva class="btn">agendar reserva</button>
            </div>

        </form>
    </main>
    <footer th:include="layout :: footer"></footer>
    <div th:include="layout :: imports"></div>
  </body>
</html>
