/* header */
header .nav-link {
    text-transform: capitalize;
    color: #070707;
}

header .nav-link_normal {
    text-transform: none;
}

header .nav-link:hover {
    color: #f39501;
}

.nav-pills .nav-item:nth-child(2) .nav-link {
    color: #f39501;
    font-weight: 500;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #ee990a;
    color: #000;
    color: #f39501;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 99;
    min-width: 100%;
}

/* footer */
footer {
    color: #ed9107;
    background-color: #070707;
    justify-content: space-between;
}

footer span {
    font-size: 14px;
}

footer a {
    width: 50px;
}

@media (max-width: 991px) {
    header ul.nav {
        justify-content: center;
        gap: 0.8em;
    }
    header a {
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    header .nav .nav-link {
        background: #ececec;
        padding: 4px 14px;
    }
    header .nav-item:nth-child(2) .nav-link {
        background: #f1ab12;
        color: #0f0700 !important;
    }
    footer div {
        text-align: center;
        flex-direction: column-reverse;
    }
    header a,
    footer a {
        margin: 0 auto;
    }
    footer span {
        text-align: center;
        margin: 0 auto;
    }
}
