<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
    <title>Document</title>
</head>
<body>
  <nav th:fragment="menu" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Hotel bom para cachorro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home <span class="sr-only"></span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/clientes">Clientes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/cachorros">Cachorros</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/funcionarios">Funcionarios</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/reservas">Reservas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/servicos">Serviços</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/bancodedados">Database</a>
        </li>
      </ul>
    </div>
  </nav>

      <footer th:fragment="footer">
        <script th:src="@{/webjars/jquery/3.6.1/dist/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
      </footer>
</body>
</html>