<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">
    <title>Bom pra Cachorro</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
    <header th:fragment="menu-usuario">
        <div class="d-flex flex-wrap justify-content-between py-3 mb-4 container gap-4">
            <a href="/home" class="d-flex align-items-center text-decoration-none ">
                <img class="d-block mx-auto" th:src="@{/img/logo-BPC.svg}" alt="" width="40">
            </a>
            <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="/home" class="nav-link" aria-current="page">home</a></li>
                    <li class="nav-item"><a href="http://localhost:8080/cachorros/novo" class="nav-link">Fazer
                            Reserva</a></li>
                    <li class="nav-item"><a href="/home#adicionais" class="nav-link">serviços adicionais</a></li>
                    <li class="nav-item"><a href="/home#avaliacoes" class="nav-link">equipe</a></li>
                    <li class="nav-item"><a href="/home#contato" class="nav-link">contato</a></li>
                    <li class="nav-item"><a sec:authorize="${hasRole('ROLE_ADMIN')}" href="#" class="nav-link " style="background-color: #462100; border-radius: 30px; color: #ffcd7b;">
                        <svg fill="#ffcd7b" width="25" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" style="enable-background:new 0 0 459 459" viewBox="0 0 459 459"><path d="M229.5 0C102.53 0 0 102.845 0 229.5 0 356.301 102.719 459 229.5 459 356.851 459 459 355.815 459 229.5 459 102.547 356.079 0 229.5 0zm118.101 364.67C314.887 393.338 273.4 409 229.5 409c-43.892 0-85.372-15.657-118.083-44.314a16.37 16.37 0 0 1-5.245-15.597c11.3-55.195 46.457-98.725 91.209-113.047C174.028 222.218 158 193.817 158 161c0-46.392 32.012-84 71.5-84s71.5 37.608 71.5 84c0 32.812-16.023 61.209-39.369 75.035 44.751 14.319 79.909 57.848 91.213 113.038a16.39 16.39 0 0 1-5.243 15.597z"/></svg>
                        Admin</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <header th:fragment="menu-admin">
        <div class="d-flex flex-wrap justify-content-between py-3 mb-4 container gap-4">
            <ul id="menu-admin" class="d-flex w-100 gap-4 flex-wrap" sec:authorize="${hasRole('ROLE_ADMIN')}">
                <li>
                    <a class="nav-link nav-link_normal" href="/home">Acessar o Site<span class="sr-only"></span></a>
                </li>

                <li>
                    <a class="nav-link" href="/cachorros">Cachorros</a>
                </li>

                <li>
                    <a class="nav-link" href="/clientes">Clientes</a>
                </li>

                <li>
                    <a class="nav-link" href="/funcionarios">Funcionarios</a>
                </li>

                <li>
                    <a class="nav-link" href="/reservas">Reservas</a>
                </li>

                <li>
                    <a class="nav-link" href="/servicos">Serviços</a>
                </li>

                <li>
                    <a class="nav-link" href="/bancodedados">Database</a>
                </li>
            </ul>
        </div>
    </header>

    <footer th:fragment="footer">
        <div class="d-flex flex-wrap justify-content-between align-items-center py-3 container gap-4">
            <span>Copyright &copy; 2022 Bom Pra Cachorro. Todos os direitos reservados.</span>

            <a href="/home" class="text-decoration-none">
                <img class="d-block mx-auto" th:src="@{/img/logo-BPC.svg}" alt="" width="40">
            </a>
        </div>
    </footer>

    <div th:fragment="imports">
        <script th:src="@{/webjars/jquery/3.6.1/dist/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
    </div>

</body>

</html>